<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar Form</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="/static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
</head>
<body>

<div class="container" th:replace="~{fragments/header :: header}">Header</div>

<h3 class="mx-auto col-md-12" style="color: #2b542c">Formularz dodawania kalendarza</h3>

<div class="container col-md-12 ml-2">
    <form action="/admin/addCalendar">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="selectClass">Wybierz grupę</label>
                <select class="form-control" name="selectClass" id="selectClass" th:field="*{classes}">
                    <option th:each="class: ${classes}"
                            th:value="${class[0]}"
                            th:text="${class[1]}">grupa
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <!--TODO corect this to add variable to list-->
            <form class="form-inline" th:action="@{/admin/addDateToCalendar}" th:field="${dateList}">
                <div class="form-group date mb-2 col-md-2">
                    <label for="addDate">Wybierz datę</label>
                    <input class="form-control" id="addDate" type="date"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">+</button>
            </form>
        </div>
        <div class="form-group">
            <table class="table">
                <tr th:each="dateC: ${dateList}">
                    <td th:text="dateC"></td>
                </tr>
            </table>
        </div>
    </form>
    <!-- <form th:action="@{/admin/addCalendar}" th:object="${calendarA}" method="post">
         <div class="row">
             <div class="form-group col-md-6">
                 <label for="class">Wybierz grupę</label>
                 <select class="form-control" name="class" id="class" th:field="*{classes}">
                     <option th:each="class : ${classes}"
                             th:value="${class[0]}"
                             th:text="${class[1]}">grupa
                     </option>
                 </select>
             </div>
         </div>
         <div class="row">
             <div class="form-group date col-md-2">
                 <label for="dateCalendar">Wybierz datę</label>
                 <input type="date" class="form-control" id="dateCalendar" th:field="*{calendar}"/>
             </div>
             <div class="form-group col-md-1">
                 <label for="buttoAdd">&nbsp;</label>
                 <button type="submit" class="form-control btn btn-primary" id="buttoAdd">Dodaj</button>
             </div>
         </div>
         <div class="row" style="margin-left: 15px">
             <button type="reset" class="btn btn-primary"><a href="/" style="color: white;">Anuluj</a></button>
             <button type="submit" class="btn btn-primary">Zapisz</button>
         </div>
     </form>-->
</div>

<div class="container" th:replace="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>

<script src="/static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>