<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container col-md-4">
    <form th:action="@{/admin/addClient}" th:object="${client}" method="post">
        <div class="form-group">
            <label for="firstName">Imię</label>
            <input th:field="*{firstName}" type="text" class="form-control" id="firstName"
                   placeholder="Podaj imię klienta">
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <input th:field="*{lastName}" type="text" class="form-control" id="lastName"
                   placeholder="Podaj nazwisko klienta">
        </div>
        <div class="form-group">
            <label for="email">e-mail</label>
            <input th:field="*{email}" type="email" class="form-control" id="email"
                   placeholder="Podaj e-mail klienta">
        </div>
        <div class="form-group">
            <label for="phone">Telefon</label>
            <input th:field="*{phone}" type="text" class="form-control" id="phone"
                   placeholder="Podaj telefon klienta">
        </div>
        <div class="form-group">
            <label for="street">Ulica</label>
            <input th:field="*{street}" type="text" class="form-control" id="street"
                   placeholder="Podaj ulicę zamieszkania klienta">
        </div>
        <div class="form-group">
            <label for="postCode">Kod pocztowy</label>
            <input th:field="*{postCode}" type="text" class="form-control" id="postCode"
                   placeholder="Podaj kod pocztowy">
        </div>

        <div class="form-group">
            <label for="city">Miasto</label>
            <input th:field="*{city}" type="text" class="form-control" id="city" placeholder="Podaj miasto zamieszkania klienta">
        </div>
        <!-- <div class="form-group">
             <label for="role">Wybierz rolę użytkownika</label>
             <select id="role" th:field="*{roles}">
                 <option th:each="role : ${roles}"
                         th:value="${role.getRoleId()}"
                         th:text="${role.getRole()}">
                 </option>
             </select>
         </div>-->
        <div class="row">
            <button type="reset" class="btn btn-primary"><a href="/" style="color: white;">Anuluj</a></button>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>
</body>
</html>