<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.theamleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER HOME</title>
</head>
<body>
<div class="container" th:fragment="roleUser">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/listClass">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            Lista obecności
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <select class="form-control" th:field="${classes}">
                    <option th:each="class: ${classes}" th:value="${class.classId}" th:text="class.className"></option>
                </select>
            </div>
        </div>
    </div>
</div>
</body>
</html>