<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>

</head>

<div class="container col-lg-12" th:fragment="contentnotloged">
    <div class="row col-md-10">
        <h2 class="h1">Podaj e-mail lub numer telefonu aby wyszukać informacje</h2>
        <form th:action="@{/search}" method="post">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="search" name="search"
                       placeholder="Przykładowe wartości: przyklad@domena.pl lub 601203405">
            </div>
            <div class="col-md-4">
                <button type="reset" class="btn btn-primary">Wyczyść</button>
                <button type="submit" class="btn btn-primary">Szukaj</button>
            </div>
        </form>
    </div>
    <div class="row col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Telefon</th>
                <th scope="col">E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${firstName}">name</td>
                <td th:text="${lastName}">name</td>
                <td th:text="${phone}">name</td>
                <td th:text="${email}">name</td>
            </tr>
            </tbody>
        </table>
    </div>
<!--TARGET  TABLE ON MINE PAGE-->
    <div class="row col-md-12">
        <table class="table">
            <thead>
            <tr th:each="installment: ${installments}">
                <th scope="col" th:text="${installment.amount}">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="installment: ${installments}">
                <td th:text="${installment.amount}">kwota</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>