<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<div class="container" th:fragment="contentnotloged">
    <div class="hero-unit">
        <h1 class="h1">Podaj e-mail lub numer telefonu aby wyszukać informacje</h1>
        <div class="input-group" th:classappend="input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">E-mail lub telefon</span>
            </div>
            <form method="post">
                <input type="text" name="phone" class="form-control" placeholder="przyklad@domena.pl lub 601203405"
                       aria-label="Search Text" aria-describedby="basic-addon1">
                <input class="btn btn-large btn-success" type="submit" value="Sprawdź">
            </form>
        </div>

    </div>
    <table class="table">
        <thead>
        <tr scope="col">Imię</tr>
        <tr scope="col">Nazwisko</tr>
        <tr scope="col">Telefon</tr>
        <tr scope="col">E-mail</tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${firstName}">name</td>
            <td th:text="${lastName}">name</td>
            <td th:text="${phone}">name</td>
            <td th:text="${email}">name</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>